{% extends "::base.html.twig" %}
{% block body %}
	<div class="container">
	   {% for info in infouser %}
	   		{{info.nom}}  {{info.prenom}} <a href="{{path('one_user',{id:info.id})}}">View information</a><a href="{{path('delete_account',{id:info.id})}}">Supprimer compte</a><br/> 
	   {% endfor %}
	</div>
{% endblock %}