
	<a href="{{path('ajouter_amis',{id:idOther})}}" class="btn btn-default btn-sm hidden-xs">Ajouter</a>
		      <hr class="visible-xs">
	<a href="{{path('ajouter_amis',{id:idOther})}}" class="text-info visible-xs">Ajouter</a>

