	<a href="{{path('annuler_demande',{id:idOther})}}" class="btn btn-danger btn-sm hidden-xs">Annuler la demande</a>
	  <hr class="visible-xs">
	<a href="{{path('annuler_demande',{id:idOther})}}" class="text-danger visible-xs">Annuler</a>
