
<section id="projets">
	<div class="container">
	    <div class="row">
	    	<h1 class="text-center text-info"><img src="{{asset('img/projects.png')}}"/>Mes projets</h1>
	    	<hr>
	    </div>
		<div class="row">
			<div class="col-sm-2">
				<p class="text-primary text-center">Mes projets</p>
			</div>
			<div class="col-sm-3">
				<p class="text-primary text-center">Effectué</p>
			</div>
			<div class="col-sm-2">
				<p class="text-primary text-center">Durée</p>
			</div>
			<div class="col-sm-2">
				<p class="text-primary text-center">Date limite</p>
			</div>
			<div class="col-sm-3">
				<p class="text-primary text-center">Nombre d'équipe</p>
			</div>
		</div>
		<!-- <hr> -->
		<div class="row">
			<div class="col-sm-2">
				<p class="text-center">Ipca</p>
			</div>
			<div class="col-sm-3">
				<div class="progress">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
				    100%
				  </div>
				</div>
			</div>
			<div class="col-sm-2">
				<p class="text-center">150jours</p>
			</div>
			<div class="col-sm-2">
				<p class="text-center">30/06/14</p>
			</div>
			<div class="col-sm-3">
				<p class="text-center">15pesonnes</p>
			</div>
		</div>
		<div class="row text-center">
			<button class="btn btn-info btn-xs">Voir plus</button>		
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-2">
				<p class="text-center">Mes projets</p>
			</div>
			<div class="col-sm-3">
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    60%
				  </div>
				</div>
			</div>
			<div class="col-sm-2">
				<p class="text-center">150jours</p>
			</div>
			<div class="col-sm-2">
				<p class="text-center">24/12/19</p>
			</div>
			<div class="col-sm-3">
				<p class="text-center">15pesonnes</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-2">
				<p class="text-center">reseau social</p>
			</div>
			<div class="col-sm-3">
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
				    50%
				  </div>
				</div>
			</div>
			<div class="col-sm-2">
				<p class="text-center">50jours</p>
			</div>
			<div class="col-sm-2">
				<p class="text-center">24/12/19</p>
			</div>
			<div class="col-sm-3">
				<p class="text-center">15pesonnes</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-2">
				<p class="text-center">Mes projets</p>
			</div>
			<div class="col-sm-3">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
				    25%
				  </div>
				</div>
			</div>
			<div class="col-sm-2">
				<p class="text-center">150jours</p>
			</div>
			<div class="col-sm-2">
				<p class="text-center">24/12/19</p>
			</div>
			<div class="col-sm-3">
				<p class="text-center">15pesonnes</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-2">
				<p class="text-center">Licence</p>
			</div>
			<div class="col-sm-3">
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;min-width: 2em;">
				    0%
				  </div>
				</div>
			</div>
			<div class="col-sm-2">
				<p class="text-center">60jours</p>
			</div>
			<div class="col-sm-2">
				<p class="text-center">24/12/19</p>
			</div>
			<div class="col-sm-3">
				<p class="text-center">15pesonnes</p>
			</div>
		</div>
		<hr>
		<div class="row text-center">
			<button class="btn btn-info" data-toggle="modal" data-target="#add_project">Créer un projet</button>
		<div class="center-block notification">
                    <div class="text-center">
                        <p id="chargement" class="text-info hidden"></p>
                        <p id="success" class="text-success hidden"></p>
                        <p id="erreurPub" class="text-danger hidden"></p>
                    </div>   
        </div> 
	</div>
</section>