 <div class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="col-sm-3">
                <p class="text-center">&copy 2018 By Nicolas|<span class="calligraphy">E-learning</span></p>
            </div>
            <div class="col-sm-4 pull-right">
                <p class="text-center"></p>
            </div>
        </div>
</div>